<p style="text-align: justify">
    Усі намагалися вирішити кросворд у якийсь момент свого життя.
    Ми збираємось змішувати речі, додавши шифр до класичної головоломки.
    Зашифрований кросворд замінює підказки для кожного запису підказками для кожної комірки сітки.
    Ці підказки - це цілі числа від 1 до 26 включно.
    Мета, як і в будь-якому іншому кросворді, полягає у визначенні належної літери для кожної комірки.
    У кросворді 26 чисел служать шифром для цих букв: комірки, які мають однакові числа, заповнюються однаковими літерами, і жоден два числа не відповідають одній і тій же літері. Усі отримані записи повинні бути дійсними словами.
</p>

<p style="text-align: justify">
    Для цього завдання ти маєш вирішити зашифрований кросворд. Тобі дано шаблон кросворду як двовимірний {% if is_js %}масив масивів{% else %}список списків{% endif %}
    з числами від 0 до 26, де <strong>0</strong> - це порожня комірка, а інші - зашифровані літери.
    Також тобі буде дано {% if is_js %}масив{% else %}список{% endif %} слів-відповідей для кросворду. Твоя функція повинна заповнити шаблон словами і повернути вирішений кросворд як
    {% if is_js %}масив масивів{% else %}список списків{% endif %} з літерами. Порожні клітинки замінити пробілами (0 => " ").
</p>

<p>
    Слова розміщуються в рядках і стовпцях без діагоналей.
    Кросворд містить шість слів з 5 літерами кожна. Ці слова розміщуються в сітці.
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="cipher-crossword" src="{{MEDIA}}cipher-crossword.png" alt="cipher-crossword" width="600px"/>
    <img class="for_editor_only" title="cipher-crossword" src="{{MEDIA}}cipher-crossword.png" alt="cipher-crossword" width="380px"/>
</p>

<p>
    <strong>Вхідні дані:</strong> Зашифрований кросворд як {% if is_js %}масив масивів{% else %}список списків{% endif %} з цілими числами. Слова як {% if is_js %}масив{% else %}список{% endif %} рядків.
</p>

<p>
    <strong>Вихідні дані:</strong> розв'язаний кросворд як {% if is_js %}масив масивів{% else %} список списків{% endif %} літер.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>Сфера застосування:</strong>
    <i>
        Це тип проблеми з обмеженням. У тебе є правила і ти маєш спробувати знайти комбінацію, яка відповідає цим правилам. Ця концепція може допомогти тобі вирішити конфлікти в плануванні розкладів і ситуацію, коли ви зіткнулися з багатьма змінними та обмеження, серед іншого.
    </i>
</p>

<p><strong>Передумови:</strong>
    <ul>
        <li><i>|crossword| = 5x5;</i></li>
        <li><i>&forall; x ∈ crossword : 1 &le; x &le; 26.</i></li>
    </ul>
</p>