<p style="text-align: justify">
    Everyone has tried solving a crossword puzzle at some point in their lives. 
    We're going to mix things up by adding a cipher to the classic puzzle.
    A cipher crossword replaces the clues for each entry with clues for each white cell of the grid. 
    These clues are integers ranging from 1 to 26, inclusive. 
    The objective, as any other crossword, is to determine the proper letter for each cell.
    In a cipher crossword, the 26 numbers serve as a cipher for those letters: cells that share matching numbers are filled
    with matching letters, and no two numbers stand for the same letter. All resulting entries must be valid words.
</p>

<p style="text-align: justify">
    For this task you should solve the cipher crossword. You are given a crossword template as a{% if is_js %}n array of arrays{% else %} list of lists{% endif %} (2D array)
    with numbers (from 0 to 26), where <strong>0</strong> is a blank cell and other numbers are encrypted letters.
    You will be given a{% if is_js %}n array{% else %} list{% endif %} of words for the crossword puzzle. You should fill that template with a given word and return
    the solved crossword as a{% if is_js %}n array of arrays{% else %} list of lists{% endif %} with letters. Blank cells are replaced with whitespaces (0 => " ").
</p>

<p>
    The words are placed in rows and columns with NO diagonals.
    The crossword contains six words with 5 letters each. These words are placed in a grid.
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="cipher-crossword" src="{{MEDIA}}cipher-crossword.png" alt="cipher-crossword" width="600px"/>
    <img class="for_editor_only" title="cipher-crossword" src="{{MEDIA}}cipher-crossword.png" alt="cipher-crossword" width="380px"/>
</p>

<p>
    <strong>Input:</strong> The Cipher Crossword as a{% if is_js %}n array of arrays with numbers{% else %} list of lists with integers{% endif %}. Words as a{% if is_js %}n array{% else %} list{% endif %} of strings.
</p>

<p>
    <strong>Output:</strong> The solution to the Crossword as a{% if is_js %}n array of arrays{% else %} list of lists{% endif %} with letters.
</p>


<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>How it is used:</strong>
    <i>
        This is a type of restriction problem.
    You have rules and should try to find a combination that conforms to these rules.
    This concept can help you to solve scheduling conflicts and - a situation where you would encounter many variables
    and restrictions, among other things.
    </i>
</p>


<p><strong>Preconditions:</strong>
    <ul>
        <li><i>|crossword| = 5x5;</i></li>
        <li><i>&forall; x ∈ crossword : 1 &le; x &le; 26.</i></li>
    </ul>
</p>