<p style="text-align: justify">
    Все мы пробовали решить кроссворд (ну или хоть видели его).
    Давай добавим криптографии.
    В криптокроссворде вместо подсказок на линию используются подсказки на клетки.
    Клетки имеют номера от 1 до 26.
    Каждое число соответствует какой-то букве (и только одно) английского алфавита.
    Также тебе известны слова для кроссворда и твоя задача корректно его заполнить.
</p>

<p style="text-align: justify">
    Дан пустой кроссворд, как 2-ух мерный {% if is_js %}массив{% else %}список{% endif %} с числами, где 0 - это пустая клетка, а остальные
    числа соответствуют зашифрованным буквам. Также дан {% if is_js %}массив{% else %}список{% endif %} слов для кроссворда.
    Вы должны заполнить кроссворд и вернуть решенный кроссворд, как 2-ух мерный {% if is_js %}массив{% else %}список{% endif %} с буквами.
    Пустые клетки замените пробелами (0 => " ").
</p>

<p>
    Слова размещаются в строках и столбцах, но не в диагоналях.
    Кроссворд состоит из 6 слов, каждое из 5 букв.

</p>

<p style="text-align: center;">
    <img class="for_info_only" title="cipher-crossword" src="{{MEDIA}}cipher-crossword.png" alt="cipher-crossword" width="600px"/>
    <img class="for_editor_only" title="cipher-crossword" src="{{MEDIA}}cipher-crossword.png" alt="cipher-crossword" width="380px"/>
</p>

<p>
    <strong>Входные данные:</strong>
    Кроссворд, как {% if is_js %}массив массивов{% else %}список списков{% endif %} с целыми числами. Слова, как {% if is_js %}массив{% else %}список{% endif %} строк.
</p>

<p>
    <strong>Выходные данные:</strong>
    Решение кроссворда, как {% if is_js %}массив массивов{% else %}список списков{% endif %} с буквами.
</p>


<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>Как это используется:</strong>
    <i>
        Это классическая комбинаторная проблема с ограничениями.
    Данные методики используется для составления расписаний например.
    </i>

</p>


<p><strong>Предусловия:</strong>
    <ul>
        <li><i>|crossword| = 5x5;</i></li>
        <li><i>&forall; x ∈ crossword : 1 &le; x &le; 26.</i></li>
    </ul>
</p>